@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fafafa;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tuviPrimary: #8c1c13;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-noto-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
}
